In [79]:
import pandas as pd
import requests

EP = "https://raw.githubusercontent.com/ppabam/nextjs-fastapi-starter/refs/heads/main/endpoints.json"

In [80]:
res = requests.get(EP)

In [9]:
#res.status_code

In [10]:
#res.encoding

In [11]:
#res.text

In [12]:
#res.json()

In [81]:
data = res.json()

In [82]:
type(data)

dict

In [83]:
endpoints = data['endpoints']

In [84]:
type(endpoints)

list

In [85]:
for p in endpoints:
    print(f'{p["name"]}, {p["url"]}')  #안에 큰따옴표 쓸거면 밖은 작은따옴표 써야함 -> f' 이렇게

TOM, https://ac.sunsin.shop/api/py/select_all
jiwon, https://agecal.wodan10.shop/api/py/select_all
heejin, https://age.journeyjean.shop/api/py/select_all
hyun, https://agecalculator.calcalhan.store/api/py/select_all
cho, https://nextjs-fastapi-starter-5j3bemub7-chominkyus-projects.vercel.app/api/py/select_all
jacob, https://jacob0503.vercel.app/api/py/select_table
nuni, https://ac.nunininu.shop/api/py/select_all
lucas, https://ac.lucas12.store/api/py/select_all
SEO, https://ac.seo-sigma.shop/api/py/select_all
JERRY, https://jooon.vercel.app/api/py/select_all

In [86]:
# df_nuni = 
# df_jacob = 
res = requests.get("https://ac.nunininu.shop/api/py/select_all")
# res.status_code
data = res.json()
df_nuni = pd.DataFrame(data)
df_nuni.head(1)

                 menu_name  name          dt
0  크림소스에버무린파스타그런데이제양송이를곁들인  nuni  2025-02-06

In [87]:
# df_nuni = 
# df_jacob = 
res = requests.get("https://jacob0503.vercel.app/api/py/select_table")
# res.status_code
data = res.json()
df_jacob = pd.DataFrame(data)
df_jacob.head(1)

  menu ename          dt
0  짜장면   TOM  2025-02-03

In [94]:
import pandas as pd # 좀더 쉬운 데이터

df1 = pd.DataFrame({"id": [1, 2, 3], "name": ["KIM", "MIN", "LEE"]})
df2 = pd.DataFrame({"id": [2, 3, 4], "name": ["MIN", "LEE", "PARK"]})

In [96]:
# 나의 df에 없는 row를 찾아 서 새로운 df 만들기

new_rows = []

for _, row_2 in df2.iterrows():
    is_match_row = False
    for _, row_1 in df1.iterrows():
        is_match_columns = True
        for c_name in df1.columns:
            if row_2[c_name] != row_1[c_name]:
                is_match_columns = False
                break
            
        if is_match_columns: 
            is_match_row = True
    
    if not is_match_row:
        new_rows.append(row_2)

    #if is_match_row:
    #    pass
    #else:
    #    new_rows.append(row2)

df_new = pd.DataFrame(new_rows)

In [97]:
print(df_new)

   id  name
2   4  PARK

In [93]:
# 나의 df에 없는 row를 찾아 서 새로운 df 만들기

# new_rows = []
# for _, row_j in df_jacob.iterrows():
#     is_match_row = True
#     for _, row_n in df_nuni.iterrows():
#         is_match_columns = True
#         for c_name in df_nuni.columns:
#             if row_j['c_name'] != row_n['c_name']:
#                 pass
            
#     if not is_match_row:
#         now_rows.append(row)

# df_new = pd.DataFrame(new_rows)  --코드 다시 살펴봐야함

KeyError: 'c_name'

In [98]:
# pandas merge 기능 사용한 코드 SQL에서 right join과 유사.

merge_df = pd.merge(df1, df2, how='right', indicator=True)

In [108]:
merge_df

   id name     _merge
0   1  KIM  left_only
1   2  MIN       both
2   3  LEE       both

In [106]:
# pandas merge 기능 사용한 코드 . SQL에서 left join과 유사.

merge_df = pd.merge(df1, df2, how='left', indicator=True)

In [109]:
merge_df

   id name     _merge
0   1  KIM  left_only
1   2  MIN       both
2   3  LEE       both

In [110]:
# _merge == right_only인 것만 남기고
# _merge 컬럼은 지우고
merge_df = pd.merge(df1, df2, how='right', indicator=True)

In [114]:
diff_df = merge_df[merge_df['_merge'] == 'right_only'].drop('_merge', axis=1)
diff_df

   id  name
2   4  PARK

In [117]:
# pandas merge 기능 사용한 코드 SQL에서 inner join과 유사.

merge_df = pd.merge(df1, df2, how='inner', indicator=True)
merge_df

   id name _merge
0   2  MIN   both
1   3  LEE   both

In [118]:
# pandas merge 기능 사용한 코드 SQL에서 outer join과 유사.

merge_df = pd.merge(df1, df2, how='outer', indicator=True)
merge_df

   id  name      _merge
0   1   KIM   left_only
1   2   MIN        both
2   3   LEE        both
3   4  PARK  right_only